<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>zeropoint</title>

    <style type="text/css">
      html, body { margin: 0; padding: 0; height: 100%; overflow: hidden; }
      body { background: black; }
      .stats { position: absolute; left: 0; top: 0; }
    </style>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery-1.6.4.min.js"></script>
    <script src="/js/spin.min.js"></script>
    <script src="/js/Three.js"></script>
    <script src="/js/RollCamera.js"></script>
    <script src="/js/RequestAnimationFrame.js"></script>
    <script src="/js/Stats.js"></script>
    <script src="/js/Ship.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body></body>
</html>
